<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4">
                    <h3>ePizza Hub</h3>
                    <p class="text-justify">There is something for everyone here. The vegetarians, non-vegetarians, the sides lovers to have something sweet by the time they reach the last bite of the last slice of pizza slice.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4 ml-md-4">
                    <h3>Company</h3>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-1">About Us</a></li>
                        <li><a href="#" class="py-1">Contact Us</a></li>
                        <li><a href="#" class="py-1">Terms & Conditions</a></li>
                        <li><a href="#" class="py-1">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4">
                    <h3>Have a Questions?</h3>
                    <div class="mb-3">
                        <ul class="list-unstyled">
                            <li class="py-1"><i class="bi bi-geo-alt"></i>  C57, Sector-2, Noida 201301</li>
                            <li class="py-1"><a href="#"><i class="bi bi-phone"></i> +91- 999 9123 502</a></li>
                            <li class="py-1"><a href="#"><i class="bi bi-envelope"></i> info@epizzahub.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                Copyright © @DateTime.Now.Year | All rights reserved | This website is made with <i class="bi bi-heart" aria-hidden="true"></i> by <a href="https://dotnettricks.com" target="_blank">www.dotnettricks.com</a>
            </div>
        </div>
    </div>
</footer>